<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/public/style.css">
    <meta charset="UTF-8">
    <title>元素詳細: <%= item.name %></title>
</head>
<body>
    <h1>元素詳細データ</h1>

    <div style="border: 2px solid #333; padding: 20px; width: 300px; text-align: center; margin-bottom: 20px;">
        <div style="font-size: 1.5em;"><%= item.number %></div>
        <div style="font-size: 4em; font-weight: bold;"><%= item.symbol %></div>
        <div style="font-size: 2em;"><%= item.name %></div>
    </div>

    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th width="150">原子番号</th>
            <td><%= item.number %></td>
        </tr>
        <tr>
            <th>元素記号</th>
            <td><%= item.symbol %></td>
        </tr>
        <tr>
            <th>元素名</th>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <th>質量数</th>
            <td><%= item.mass %></td>
        </tr>
        <tr>
            <th>説明・性質</th>
            <td><%= item.explain %></td>
        </tr>
    </table>

    <br>

    <a href="/element/edit/<%= item.number %>">
        <button>この情報を編集する</button>
    </a>
    
    &nbsp;&nbsp;

    <a href="/element">一覧に戻る</a>
</body>
</html>